registry=https://pkgs.dev.azure.com/P2NullReturners/_packaging/P2NullReturners/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/registry/:username=raneri.josh
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/registry/:_password=cWN4d2UzZmNvMjdxcnltbjd1ZndmM2VzdXNseG9mdDI0anZlc2ZyYjJhdzRoNTc0aDZocQ==
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/registry/:email=raneri.josh@gmail.com
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/:username=raneri.josh
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/:_password=cWN4d2UzZmNvMjdxcnltbjd1ZndmM2VzdXNseG9mdDI0anZlc2ZyYjJhdzRoNTc0aDZocQ==
//pkgs.dev.azure.com/<P2NullReturners>/_packaging/<frontend>/npm/:email=raneri.josh@gmail.com
; end auth token