<app-nav></app-nav>

<h1>{{title}}</h1>
<h3>Welcome to the app!</h3>


<button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
<button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>

<nav>
  <a class="button" routerLink="/teams">TeamList</a>
</nav>
<nav>
  <a class="button" routerLink="/players">Players</a>
</nav>
<nav>
  <a class="button" routerLink="/equipment">EquipmentRequest</a>
</nav>
<nav>
  <a class="button" routerLink="/roles">Roles</a>
</nav>

<router-outlet></router-outlet>