<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <div *ngIf="loggedInUser.roleID == 1">
        <h3>Add New User</h3>
        <a routerLink="/players">Back to Users</a><br>
        <form #createUserForm="ngForm" (ngSubmit)="createUser()" ngNativeValidate autocomplete="off">
            <label for="Username">Username</label>
            <input name="Username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username" aria-label="Username">
            <label for="Password">Password</label>
            <input name="Password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
            <label for="FullName">Full Name</label>
            <input name="FullName" [(ngModel)]="model.fullname" class="form-control me-2" type="text" placeholder="Full Name" aria-label="FullName">
            <label for="PhoneNumber">Phone Number</label>
            <input name="PhoneNumber" [(ngModel)]="model.phonenumber" class="form-control me-2" type="tel" placeholder="Phone Number" aria-label="PhoneNumber">
            <label for="Email">Email</label>
            <input name="Email" [(ngModel)]="model.email" class="form-control me-2" type="email" placeholder="Email" aria-label="Email">
            <label for="Roles">Role</label><br>
            <select name="Role" [(ngModel)]="model.role" required class="form-select form-select-lg mb-3">
                <option selected></option>
                <option *ngFor="let role of roleList">{{role.roleName}}</option>
            </select>
            <br>
            <button class="btn btn-outline-success" type="submit">Create</button>
        </form>
        
    </div>

    <ng-container *ngIf="loggedInUser.roleID != 1">
        <h2 class="text-center">Not Authorized</h2>
        <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
    </ng-container>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>