<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <h3>Create Game</h3>
    <a routerLink="/games">Back to Games</a><br>
    <form #createGameForm="ngForm"  (ngSubmit)="createGame()" ngNativeValidate  autocomplete="off">
      <label for="GameDate"></label>
      <input name="DateRequested" [(ngModel)]="newGame.gameDate" class="form-control me-2" type="datetime-local" placeholder="Date">
      <label for="ItemId">Away Team</label>
      <select name="AwayTeam" [(ngModel)]="newGame.awayteam" required>
        <option selected></option>
        <option *ngFor="let team of teamList">{{team.name}}</option>
      </select>

      <br>
      <button class="btn btn-outline-success" type="submit">Create</button>
    </form>
  </div>
  
  <!-- If the user is not logged in -->
  <div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
  </div>