<div class="message_container row">
    <div class="message_users col-md-2">
        <ng-container *ngFor="let user of users">
            <p (click)="getMessageBox(user.userID)">{{user.fullName}}</p>
        </ng-container> 
    </div>
    <div class="message_area col-md-9">
        <div class="messages">
           <div *ngFor="let message of messagesArr" >
                {{message.messageText}}
           </div>
           <div>
               <p>testing here:</p>
               <ng-container *ngFor="let sent of messagesSent">
                   {{sent.messageText}} - {{sent.sentDate}}<br>
               </ng-container>
               <ng-container *ngFor="let recieved of messagesRecieved">
                    <p style="color: red;">{{recieved.messageText}} - {{recieved.sentDate}}</p>
                </ng-container>
           </div>
        </div>
        <div class="input-message">
            <form ngNativeValidate class="d-flex" autocomplete="off">
                <input name="Message"  class="form-control me-2" type="text" placeholder="Message...">
                <button class="btn btn-outline-success" type="submit">Send</button>
              </form>
        </div>
    </div>
</div>