<div class="message_container row">
    <div class="message_users col-md-2">
        <p *ngFor="let user of users">{{user.fullName}}</p>
    </div>
    <div class="message_area col-md-9">
        <div class="messages">
           test messages
        </div>
        <div class="input-message">
            <form ngNativeValidate class="d-flex" autocomplete="off">
                <input name="Message"  class="form-control me-2" type="text" placeholder="Message...">
                <button class="btn btn-outline-success" type="submit">Send</button>
              </form>
        </div>
    </div>
</div>