<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <ng-container *ngIf="loggedInUser.roleID == 1"> 
    <h2>Welcome</h2>
    <p>Edit Request #{{equipmentRequest.requestID}}</p>

    <form #editRequestForm="ngForm" (ngSubmit)="editRequest()">
        <label for="FullName">Requester Full Name</label>
        <input name="FullName" class="form-control me-2" type="text" value="{{equipmentRequest?.user?.userName}}" aria-label="FullName" readonly>
        <label for="Item">Item Requested</label>
        <input name="Item" class="form-control me-2" type="text" value="{{equipmentRequest?.item?.description}}" aria-label="TeamName" readonly>
        <label for="TeamName">Requester Team</label>
        <input name="TeamName" class="form-control me-2" type="text" value="{{equipmentRequest?.team?.name}}" aria-label="TeamName" readonly>
        <label for="RequestDate">Request Date</label>
        <input name="RequestDate" class="form-control me-2" type="datetime" value="{{equipmentRequest.requestDate}}" aria-label="RequestDate" readonly>
        <label for="Message">Message</label>
        <input name="Message" class="form-control me-2" type="text" value="{{equipmentRequest.message}}" aria-label="Message" readonly>
        <label for="Status">Status</label>
        <select name="Status" [(ngModel)]="editedEquipmentRequest.status">
            <option>Requested</option>
            <option>Ordered</option>
            <option>Complete</option>
          </select>
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    </ng-container>
    <ng-container *ngIf="loggedInUser.roleID != 1">
        <h2 class="text-center">Not Authorized</h2>
        <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
      </ng-container>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>
