<div class="container">
    <h2>Welcome</h2>
    <p>Edit Request #{{equipmentRequest.requestID}}</p>

    <form #editRequestForm="ngForm" (ngSubmit)="editRequest()">
        <label for="FullName">Requester Full Name</label>
        <input name="FullName" class="form-control me-2" type="text" value="{{equipmentRequest?.user?.userName}}" aria-label="FullName" readonly>
        <label for="TeamName">Requester Team</label>
        <input name="TeamName" class="form-control me-2" type="text" value="{{equipmentRequest?.team?.name}}" aria-label="TeamName" readonly>
        <label for="RequestDate">Request Date</label>
        <input name="RequestDate" class="form-control me-2" type="datetime" value="{{equipmentRequest.requestDate}}" aria-label="RequestDate" readonly>
        <label for="Message">Message</label>
        <input name="Message" class="form-control me-2" type="text" value="{{equipmentRequest.message}}" aria-label="Message" readonly>
        <label for="Status">Status</label>
        <input name="Status" [(ngModel)]="editedEquipmentRequest.status" class="form-control me-2" type="text" value="{{equipmentRequest.status}}" aria-label="Status">
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

