<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">

    <ng-container *ngIf="loggedInUser.userID == user.userID || loggedInUser.roleID == 1">
    <div *ngIf="loggedInUser.userID == user.userID">
        <h2>Welcome {{user.fullName}}</h2>
        <p>Please edit your information below:</p>
    </div>

    <div *ngIf="loggedInUser.roleID == 1">
        <h2>Welcome {{loggedInUser.fullName}}</h2>
        <p>Edit {{user.fullName}} below:</p>
    </div>
    
    <form #editUserForm="ngForm" (ngSubmit)="editUser()">
        <label for="FullName">Full Name</label>
        <input name="FullName" [(ngModel)]="editedUser.fullname" class="form-control me-2" type="text" value="{{user.fullName}}" aria-label="FullName">
        <label for="Password">Password</label>
        <input name="Password" [(ngModel)]="editedUser.password" class="form-control me-2" type="password" value="{{user.password}}}" aria-label="Password">
        <label for="PhoneNumber">Phone Number</label>
        <input name="PhoneNumber" [(ngModel)]="editedUser.phonenumber" class="form-control me-2" type="tel" pattern="[0-9]{10}" value="{{user.phoneNumber}}" aria-label="PhoneNumber">
        <label for="Email">Email</label>
        <input name="Email" [(ngModel)]="editedUser.email" class="form-control me-2" type="email" value="{{user.email}}" aria-label="Email">
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    </ng-container>

    <!-- If the user is not authorized to view  -->
    <ng-container *ngIf="loggedInUser.userID != user.userID && loggedInUser.roleID != 1">
        <h2 class="text-center">Not Authorized</h2>
        <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
    </ng-container>

</div>


<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>