<p>draw works!</p>
<button  (click)="restetTemplate()">Reset</button><br>
<canvas #canvas (mousedown)="captureEvents()"></canvas> 

    <div>
    <button  (click)="getEraser()">Erase</button>
    <button (click)="lineIncrease()">Brush +</button>
    <button (click)="lineDecrease()">Brush -</button>
    </div>

    <div>
    <p>Brush Color</p>
    <button style="color:black;" style="background-color: red;" (click)="getRed()">Red</button>
    <button style="background-color: black;" (click)="getBlack()">Black</button>
    <button style="color:white;" style="background-color: White;" (click)="getWhite()">White</button>
    <button style="color:white;" style="background-color: Blue;" (click)="getBlue()">Blue</button>

    </div>

    <div>
        <p>background-color</p>
    <button style="background-color:bisque;" (click)="SetBackGroundTan()">TanB</button>
    <button style="background-color: Green;" (click)="SetBackGroundGreen()">GreenB</button>
    <button  (click)="SetBackGroundWhite()">WhiteB</button>
    </div>
     
    <form #createDrawingForm="ngForm" class="d-flex" (ngSubmit)="saveCanvas()" autocomplete="off">
        <input name="Name" [(ngModel)]="model.Name" class="form-control me-2" type="text" placeholder="Name" aria-label="Name">
        <input name="Description" [(ngModel)]="model.Description" class="form-control me-2" type="text" placeholder="Description" aria-label="Description">
        <button class="btn btn-outline-success" type="submit">Create</button>
    </form>