<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
<h2>Equipment Requests</h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item</th>
        <th scope="col">Requested By</th>
        <th scope="col">Team</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipmentList">
        <td>{{equipment.requestID}}</td>
        <td>{{equipment?.item?.description}}</td>
        <td>{{equipment?.user?.fullName}}</td>
        <td>{{equipment?.team?.name}}</td>
        <td>{{equipment.status}}</td>
        <td>
            <a [routerLink]="['/equipment/details', equipment.requestID]">Details</a> - 
            <a [routerLink]="['/equipment/edit', equipment.requestID]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>