<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
<h2>Equipment Requests</h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item</th>
        <th scope="col">Requested By</th>
        <th scope="col">Team</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipmentList">
        <td>{{equipment.requestID}}</td>
        <td>Item</td>
        <td>{{equipment?.user?.fullName}}</td>
        <td>{{equipment?.team?.name}}</td>
        <td>{{equipment.status}}</td>
        <td>
            <a [routerLink]="['/equipment/details', equipment.requestID]">Details</a> - 
            <a [routerLink]="['/equipment/edit', equipment.requestID]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>

<h3>Request Equipment</h3>
<form #createEquipmentRequestForm="ngForm"  (ngSubmit)="createEquipmentRequest()" autocomplete="off">
   
    <label for="DateRequested">Date Requested (remove)</label>
    <input name="DateRequested" [(ngModel)]="model.dateRequested" class="form-control me-2" type="date" placeholder="Date">
    <label for="Message">Message</label>
    <input name="Message" [(ngModel)]="model.message" class="form-control me-2" type="text" placeholder="Message">
    <label for="ItemId">ItemId (will change)</label>
    <input name="ItemId" [(ngModel)]="model.itemid" class="form-control me-2" type="number" placeholder="Item Id">  
    <br>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>

</div>